@media (max-width:768px) {

    html{
        font-size: 55%;
    }

    .right-icons{
        display: flex;
        align-items: center;
    }

    #menu-bars{
        
        display: initial;
    }

    header{
        padding: 2rem;
        background-color: white;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: white;
    }
    .navbar.active{
        left: 0;
    }
    .navbar a{
        display: block;
        margin: 2rem;
        padding: 1rem;
        border: 1px solid var(--textcolor);
    }

    .home .home-left-content{
        margin-top: 50px;
        padding: 2rem;
    }

    .home .home-left-content h2{
        font-size: 30px;
    }
    .main-technology{
        
        margin-top: 0;
    }

    .about-right-content h2{
        font-size: 20px;
    }
    
}



/* Add this to your CSS file */

/* For laptop screens and above */
@media (min-width: 1024px) {
    .main-inner-doctor {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .doc-poster {
      width: calc(33.33% - 20px);
      margin: 10px;
    }
    
    .main-services {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .inner-services {
      width: calc(33.33% - 20px);
      margin: 10px;
    }
  }
  
  /* For smaller screens */
  @media (max-width: 1023px) {
    .main-inner-doctor {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .doc-poster {
      width: calc(50% - 20px);
      margin: 10px;
    }
    
    .main-services {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .inner-services {
      width: calc(50% - 20px);
      margin: 10px;
    }
  }
  
  /* For mobile screens */
  @media (max-width: 600px) {
    .main-inner-doctor {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .doc-poster {
      width: 100%;
      margin: 10px;
    }
    
    .main-services {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .inner-services {
      width: 100%;
      margin: 10px;
    }
  }
  